{{ define "content" }}

     <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Origen de Datos. <span class="text-muted">Servicio de Datos.</span></h2>
          <p class="lead">Los datos presentados en el link: Web Services, son consultados del sitio web de datos abiertos de la
          ciudad de Quito, publicados a través de la plataforma Junar.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="img-circle" src="/static/images/junar.png" alt="Junar" height="400" width="400">
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Origen de Datos <span class="text-muted">MongoDb.</span></h2>
          <p class="lead">Los datos presentados en el link: Data Source Mongo, son consultados de una colección creada en Mongo.</p>
        </div>
        <div class="col-md-5">
          <img class="img-circle" src="/static/images/mongodb.jpeg" alt="Junar" height="400" width="400">        
        </div>
      </div>
	
     <div class="page-header">
        <h1>Visualización de Información</h1>
      </div>
      <div class="well">
        <p>Para la visualización de información se utiliza las librerías: highcharts.js y jquery.highchartTable-min.js</p>
      </div>	

{{ end }}